.header-logo
	img.header-logo-img(src='/img/logo.png', width='237', height='64', alt='BugCleaners', title='BugCleaners Logo')

div.header-text The Pest Authority Trusted by 
	span.header-text-highlight Thousands
