.hero
	.hero-innerwrap
		.hero-title!= hero_title

		.hero-arrow
			.hero-arrow-text Hire Brooklyn's top bed bug experts to inspect your house for free!
			//- .hero-arrow-text Instantly receive a bottom line quote.
			.hero-arrow-illus