header#masthead.header
	.header-innerwrap
		
		a.header-logo(href='/')
			img.header-logo-img(src='/img/logo.png', width=app.logo.width, height=app.logo.height, alt=app.name, title=app.name+' Logo')

		-if (currentPage)
			- var isManagePage = currentPage.indexOf('manage') !== -1;
			- var isLoginPage = currentPage.indexOf('login') !== -1;


			unless isLoginPage
				nav.header-nav
					a.header-nav-item(href="/manage") Pages
					a.header-nav-item(href="/manage/posts") Posts
					a.header-nav-item(href="/manage/leads") Leads
				div.header-button.logout
					.header-button-text Logout

				.header-mobile_nav-trigger
					.header-mobile_nav-trigger-icon
						.header-mobile_nav-trigger-icon-bar.first
						.header-mobile_nav-trigger-icon-bar.second
						.header-mobile_nav-trigger-icon-bar.third

	.header-mobile_nav
		unless isLoginPage
			.header-mobile_nav-list
				a.header-mobile_nav-list-item(href="/manage") Pages
				a.header-mobile_nav-list-item(href="/manage/posts") Posts
				a.header-mobile_nav-list-item(href="/manage/leads") Leads
				a.header-mobile_nav-list-item.logout(href="#") Logout
