ul.manage-content-list.show.pages#pages
	h4.manage-content-list-title Pages
	
	each page in pages
		- hasDisabledProp = typeof page.disabled === 'undefined' ? false : page.disabled;
		- disabled = hasDisabledProp ? 'disabled' : '';
		li.manage-content-list-item(id!=page._id, data-slug!=page.slug, class!=disabled)
			.manage-content-list-item-disable.disable_item
			.manage-content-list-item-toggle
			h6.manage-content-list-item-title!= page.hero_title
			.manage-content-list-item-content
				.manage-content-list-item-content-field.half.first
					label.manage-content-list-item-content-field-label Page Title
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="hero_title", value!=page.hero_title)
				.manage-content-list-item-content-field.half
					label.manage-content-list-item-content-field-label Page Subtitle
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="hero_subtitle", value!=page.hero_subtitle)
				.clearfix
				.manage-content-list-item-content-field.half.first
					label.manage-content-list-item-content-field-label Page Slug
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="slug", value!=page.slug)
				.clearfix
				.manage-content-list-item-content-field
					label.manage-content-list-item-content-field-label Content
					textarea.manage-content-list-item-content-field-input.input.textarea.editable.needs_formatting(name="content")=page.content
				
				.manage-content-list-item-content-button.save
					.manage-content-list-item-content-button-text Save Page
				.manage-content-list-item-content-button.delete
					.manage-content-list-item-content-button-text Delete Page
				.manage-content-list-item-content-status
				.clearfix

	.manage-content-list-button.add
		.manage-content-list-button-text Add Page


//- .clearfix