.manage-sidebar-outerwrap
	sidebar.manage-sidebar
		ul.manage-sidebar-list
			- var items;
			
			if isPages
				-
					if (pages.length) {
						items = pages;
					} else {
						items = []
					}
			else if isPosts
				-
					var POSTS = [
						{name:'Pests', slug:'pest'},
						{name:'Services', slug:'service'},
						{name:'FAQs', slug:'faq'},
						{name:'FAQ Categories', slug:'faq_category'}
					];
					items = POSTS
			

			each item in items
				.manage-sidebar-list-item(data-slug!=item.slug)
					.manage-sidebar-list-item-text!=item.name
	
		if isPages
			.manage-sidebar-button.add
				.manage-sidebar-button-text Add Page