.manage_login
	form.manage_login-form(action="/manage/login", method="post")
		.manage_login-form-step.step.show
			+fieldGenerator({className:'manage_login-form', type:'email', name:'username', label:'Email', required:true})
			+fieldGenerator({className:'manage_login-form', type:'password', name:'password', label:'Password', required:true})
			button.manage_login-form-button.submit
				.manage_login-form-button-text Login