mixin availCategories(current)
	option(value='') Select Category

	each category in faqcategories
		- if (category.name === current)
			option(value=category.name selected)=category.name
		- else
			option(value=category.name)=category.name
	




ul.manage-content-list.faqs#faqs
	h4.manage-content-list-title FAQs
	
	each faq in faqs
		li.manage-content-list-item(id!=faq._id, data-slug!=faq.question)
			.manage-content-list-item-toggle
			h6.manage-content-list-item-title!= faq.question
			.manage-content-list-item-content
				.manage-content-list-item-content-field
					label.manage-content-list-item-content-field-label Question
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="question", value!=faq.question)
				.manage-content-list-item-content-field
					label.manage-content-list-item-content-field-label Answer
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="answer", value!=faq.answer)
		
				.manage-content-list-item-content-field-container.editable_of_array.half.first(data-name="categories")
					label.manage-content-list-item-content-field-label Categories
					each category in faq.categories
						- var current = faq.categories.pop();
						.manage-content-list-item-content-field.contained_field
							.manage-content-list-item-content-field-remove.remove_item
							select.manage-content-list-item-content-field-input.input.select.editable_of_array(name="categories")
								+availCategories(current)

					.manage-content-list-item-content-field-add_more.add_item
						.manage-content-list-item-content-field-add_more-text Add Category
				

				.clearfix

				.manage-content-list-item-content-button.save
					.manage-content-list-item-content-button-text Save FAQ
				.manage-content-list-item-content-button.delete
					.manage-content-list-item-content-button-text Delete FAQ
				.manage-content-list-item-content-status
				.clearfix

	.manage-content-list-button.add
		.manage-content-list-button-text Add FAQ