-
	var faqLists = {};

	for (category in faqcategories) {
	}
	faqcategories.forEach(function(category, index, parentArray){
		faqLists[category.name] = {"name": category.name, "slug": category.slug, "items": []};
	});
	faqs.forEach(function(faq){
		var categories = faq.categories;

		categories.forEach(function(categoryName, index, parentArray){
			if (faqLists[categoryName] !== undefined) {
				faqLists[categoryName].items.push(faq);
			} else {
				//- faqLists[categoryName] = [faq];
			}
		});
	});

.resources-faqs
	each faqList in faqLists
		.resources-faqs-list(id!=faqList.slug)
			//- .resources-faqs-list-title!=faqList.name
			h4.resources-faqs-list-title!=faqList.name
			
			ul.resources-faqs-list-innerwrap
				each faq in faqList.items
					li.resources-faqs-list-item(itemscope, itemtype="http://schema.org/Question")
						h6.resources-faqs-list-item-question(itemprop="name")!= faq.question
						.resources-faqs-list-item-answer(itemprop="acceptedAnswer")!= faq.answer



.clearfix