ul.manage-content-list.faqcategories#faqcategories
	h4.manage-content-list-title FAQ Categories
	
	each category in faqcategories
		li.manage-content-list-item
			.manage-content-list-item-toggle
			h6.manage-content-list-item-title!= category.name
			.manage-content-list-item-content
				.manage-content-list-item-content-field.half.first
					label.manage-content-list-item-content-field-label Category Title
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="name", value!=category.name)
				.manage-content-list-item-content-field.half
					label.manage-content-list-item-content-field-label Category Slug
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="slug", value!=category.slug)
				.clearfix
				
				.manage-content-list-item-content-button.save
					.manage-content-list-item-content-button-text Save Item
				.manage-content-list-item-content-status

	.manage-content-list-button.add
		.manage-content-list-button-text Add Item
