header#masthead.header
	.header-innerwrap
		
		a.header-logo(href='/')
			img.header-logo-img(src='/img/logo.png', width=app.logo.width, height=app.logo.height, alt=app.name, title=app.name+' Logo')


		nav.header-nav
			a.header-nav-item(href="/services") Services
			a.header-nav-item(href="/pests") Pests
			a.header-nav-item(href="/resources") Resources
			a.header-nav-item(href="/contact") Contact
			a.header-nav-item.button(href="/get-quote") 
				span.header-nav-item-text Get Quote
			
		.header-mobile_nav-trigger
			.header-mobile_nav-trigger-icon
				.header-mobile_nav-trigger-icon-bar.first
				.header-mobile_nav-trigger-icon-bar.second
				.header-mobile_nav-trigger-icon-bar.third


	.header-mobile_nav
		.header-mobile_nav-list
			a.header-mobile_nav-list-item(href="/services") Services
			a.header-mobile_nav-list-item(href="/pests") Pests
			a.header-mobile_nav-list-item(href="/resources") Resources
			a.header-mobile_nav-list-item(href="/contact") Contact
			a.header-mobile_nav-list-item(href="/get-quote") Get Quote


