.page_innerwrap
	.body_text
		.body_text-floated.left.width-seventy
			p.body_text-p Our Residential pest control services are effective, thorough, and just as important, completely safe for any family member or pet. At BugCleaners, we provide leading-edge residential pest control and elimination services, and are famous for our courtesy and complete understanding of any and all pest control concerns.
			p.body_text-p We provide superior service, complete discretion, and common courtesy with a full satisfaction guarantee. At BugCleaners, we are fully insured and certified and provide the most effective pest control treatments available.
			p.body_text-p Specializing in everything from bed bugs and termite eradication to roaches, mice, rats, and many other residential pests, no job is out of our league.
			p.body_text-p For more information on any aspect of our services for home or business, simply select and click on a pest button below.
		
		.body_text-floated.right.width-thirty
			.reviews-list
				.reviews-list-item
					.reviews-list-item-img
						img.reviews-list-item-img-photo(alt=review.name+", "+review.position, src="/img/reviewers/"+review.slug+".jpg")
					.reviews-list-item-name= review.name
					.reviews-list-item-subtitle= review.subtitle
					.reviews-list-item-excerpt
						p.reviews-list-item-excerpt-text= review.review