section.section.pests
	h2.pests-title The Pests We Provide Treatment For
	
	.pests-list
		a.pests-list-item.roaches(href="/pests/roaches")
			.pests-list-item-icon
			strong.pests-list-item-name Roaches
		a.pests-list-item.bed_bugs(href="/pests/bed-bugs")
			.pests-list-item-icon
			strong.pests-list-item-name Bed Bugs
		a.pests-list-item.rodents(href="/pests/rodents")
			.pests-list-item-icon
			strong.pests-list-item-name Rodents
		a.pests-list-item.termites(href="/pests/termites")
			.pests-list-item-icon
			strong.pests-list-item-name Termites
		a.pests-list-item.ants(href="/pests/ants")
			.pests-list-item-icon
			strong.pests-list-item-name Ants
		a.pests-list-item.mosquitos(href="/pests/mosquitoes")
			.pests-list-item-icon
			strong.pests-list-item-name Mosquitoes
		a.pests-list-item.others(href="/pests/others")
			.pests-list-item-icon
			strong.pests-list-item-name Others
