doctype html
html(lang='en-US', itemscope='', itemtype='http://schema.org/WebPage', dir='ltr', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
		//- Begin Meta Data
		link(rel="canonical", href=currentpage)
		meta(property="og:url", content=currentpage)
		link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
		meta(property="og:title", content="Same-day Pest Control Services 24/7 | BugCleaners")
		meta(property="fb:admins", content="http://www.facebook.com/bugcleaners")
		meta(itemprop="name", content="Same-day Pest Control Services 24/7 | BugCleaners")
		//- End Meta data.
		title Same-day Pest Control Services 24/7 | BugCleaners
		link(rel='stylesheet', href='/css/style.css', type='text/css')
		link(rel='stylesheet', href='/css/landing.css', type='text/css')
		include ./_parts-global/takana.jade
	body
		include ./_parts-global/form-mixins.jade
		#page
			include ./_parts-global/header.jade
			main.main
				include ./_parts-landing/hero.jade
				include ./_parts-landing/cta.jade
				include ./_parts-landing/pests.jade
				include ./_parts-landing/reviews.jade
					
			include ./_parts-landing/footer.jade
		script(type='text/javascript', src='js/global.js')
		script(type='text/javascript', src='js/home.js')
