doctype html
html(lang='en-US', itemscope='', itemtype='http://schema.org/WebPage', dir='ltr', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
		//- Begin Meta Data
		link(rel="canonical", href=currentPage)
		meta(property="og:url", content=currentPage)
		link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
		meta(property="og:title", content="Management | BugCleaners")
		meta(property="fb:admins", content="http://www.facebook.com/bugcleaners")
		meta(itemprop="name", content="Management | BugCleaners")
		//- End Meta data.
		title= "Management | BugCleaners"
		link(rel='stylesheet', href='/css/global.css', type='text/css')
		link(rel='stylesheet', href='/css/manage.css', type='text/css')
		include ./_parts-global/takana.jade
	body.manage(class=bodyClass)
		include ./_parts-global/field-generator.jade
		include ./_parts-manage/mixins.jade
		#page
			include ./_parts-manage/header.jade
			
			main.main
				.page_innerwrap.manage
					-
						var isLogin,isPages,isPosts,isLeads;
						switch (bodyClass) {
							case 'login':  isLogin = true; break;
							case 'pages':  isPages = true; break;
							case 'posts':  isPosts = true; break;
							case 'leads':  isLeads = true; break;
						}
						

					if isLogin
						include ./_parts-manage/manage-login.jade
					else
						if isLeads
							include ./_parts-manage/manage-leads.jade
						else
							include ./_parts-manage/manage-sidebar.jade
							
							if isPages
								include ./_parts-manage/manage-pages.jade
							else if isPosts
								include ./_parts-manage/manage-posts.jade

							include ./_parts-manage/manage-fieldtemplates.jade
					
			include ./_parts-page/footer.jade
		script(type='text/javascript', src='/js/manage.pretty.js')
