.contact_options-content
	
	//- ==== Livechat =================================================================================
	.contact_options-content-item.chat
		.livechat
			.livechat-status.offline
				.livechat-status-text Chat Support is Currently 
					span#livechat-status.livechat-status-text-mode Offline
			
			.livechat-box
				.livechat-login
					.livechat-login-social
						.livechat-login-social-button.facebook
							.livechat-login-social-button-text Start Chat Using Facebook
						.livechat-login-social-button.googleplus
							.livechat-login-social-button-text Start Chat Using Google+
					
					.livechat-login-or
						.livechat-login-or-text Or
					
					form.livechat-login-form(data-action="contact-chat")
						.livechat-login-form-step.step.show
							+fieldGenerator({
								className:'livechat-login-form',
								type: 'full_name',
								name: 'full_name',
								label: 'Full Name',
								required: true
							})
							+fieldGenerator({
								className:'livechat-login-form',
								type: 'email',
								name: 'email',
								label: 'Email Address',
								required: true
							})
							.livechat-login-form-button.submit
								.livechat-login-form-button-text Start Chat

						.livechat-login-form-results.results
	




	//- ==== Email =================================================================================
	.contact_options-content-item.email
		.email_support
			.email_support-options
				
				.email_support-options-item.manual
					h6.email_support-options-item-title Send Email Manually
					.email_support-options-item-emails
						a.email_support-options-item-emails-item.sales(href="mailto:sales@bugcleaners.com") sales@bugcleaners.com
						a.email_support-options-item-emails-item.support(href="mailto:support@bugcleaners.com") support@bugcleaners.com
				
				.email_support-options-or
					.email_support-options-or-text Or
				
				.email_support-options-item.email_form
					h6.email_support-options-item-title Send Email Using Webform
					form.email_support-options-item-form(data-action="contact-email")
						.email_support-options-item-form-step.step.show
							+fieldGenerator({
								className:'email_support-options-item-form',
								type: 'text',
								name: 'first_name',
								label: 'First Name',
								width: '1-2',
								required: true
							})
							+fieldGenerator({
								className:'email_support-options-item-form',
								type: 'text',
								name: 'last_name',
								label: 'Last Name',
								width: '1-2',
								required: true
							})
							+fieldGenerator({
								className:'email_support-options-item-form',
								type: 'email',
								name: 'email',
								label: 'Email Address',
								required: true
							})
							+fieldGenerator({
								className:'email_support-options-item-form',
								type: 'textarea',
								name: 'message',
								label: 'Message',
								required: true
							})
							+fieldGenerator({
								className:'email_support-options-item-form',
								type: 'file',
								name: 'attachment',
								label: 'Attachment (optional)'
							})

							.email_support-options-item-form-button.submit
								.email_support-options-item-form-button-text Submit Email

						.email_support-options-item-form-results.results
	





	//- ==== Phone =================================================================================
	.contact_options-content-item.phone
		.phone_support
			.phone_support-status
				.phone_support-status-text Current Wait Time is 
					span#phone_support-status.phone_support-status-text-time 2 Minutes
			

			.phone_support-options
				.phone_support-options-item.manual_call
					.phone_support-options-item-title Call Manually
					.phone_support-options-item-box
						a.phone_support-options-item-number(href="tel:"+app.phone)=app.phone
						ul.phone_support-options-item-hours
							li.phone_support-options-item-hours-item <strong>Mon:</strong> 9AM - 7PM
							li.phone_support-options-item-hours-item <strong>Tue:</strong> 9AM - 7PM
							li.phone_support-options-item-hours-item <strong>Wed:</strong> 9AM - 7PM
							li.phone_support-options-item-hours-item <strong>Thu:</strong> 9AM - 7PM
							li.phone_support-options-item-hours-item <strong>Fri:</strong> 9AM - 7PM
							li.phone_support-options-item-hours-item <strong>Sat:</strong> 9AM - 7PM
				
				.phone_support-options-or
					.phone_support-options-or-text Or

				.phone_support-options-item.schedule_call
					.phone_support-options-item-title Call Me
					.phone_support-options-item-box
						form.phone_support-options-item-form(data-action="contact-phone")
							.phone_support-options-item-form-step.step.show
								+fieldGenerator({
									className:'phone_support-options-item-form',
									type: 'full_name',
									name: 'full_name',
									label: 'Full Name',
									required: true
								})
								+fieldGenerator({
									className:'phone_support-options-item-form',
									type: 'tel',
									name: 'phone',
									label: 'Phone Number',
									required: true
								})
								.phone_support-options-item-form-button.submit
									.phone_support-options-item-form-button-text Call Me Now

							.phone_support-options-item-form-results.results
